@font-face {
  font-family: "TT Lakes Bold";
  src: local("TT Lakes Bold"), local("TT-Lakes-Bold"),
    url("fonts/TTLakes-Bold.woff") format("woff"),
    url("fonts/TTLakes-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "TT Lakes Medium";
  src: local("TT Lakes Medium"), local("TT-Lakes-Medium"),
    url("fonts/TTLakes-Medium.woff") format("woff"),
    url("fonts/TTLakes-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "TT Lakes Regular";
  src: local("TT Lakes Regular"), local("TT-Lakes-Regular"),
    url("fonts/TTLakes-Regular.woff") format("woff"),
    url("fonts/TTLakes-Regular.ttf") format("truetype");
}

*{
  margin:0;
  padding: 0;
  border: 0;
}

button{
  background:rgba(0, 0, 0, 0);
  border: rgba(0, 0, 0, 0) ;
  cursor: pointer;
}

ul{
  list-style: none;
  display: block;
}

a{
  text-decoration: none;
}


.nav-scroller__link:hover{
  border: 2px solid #b8ffec;
  background-color: #ffffff;
  border-radius: 6px;
}



body{
  background-color: #f8f8f8;
}

.container{
  max-width: 1120px;
  margin: auto;
}


.header{
  display: flex;
  flex-direction: column;
  
}



.nav__list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  gap: 39px;
  padding: 19px 5%;
  border-bottom: 1px solid #D9FFF5;
}

.nav__item{
  display:flex;
  align-items: center;
  gap: 16px;
 
  
}

ul.nav__item:first-child{
  display: none;
}



.nav__item.nav__item::before{
    content: "";
    display: block;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    position: absolute;
    right: 130px;
    top: 30px;
    border-radius: 1px;
}



.nav__icon-background{
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: #FF3E79;
  width:40px;
  height:40px;
  border-radius: 50%;
}

.nav__text{
  display: none;
}

.nav__title{
  padding: 20px 5%;
 
}

.title__text{
  font-family: "TT Lakes Bold";
  font-size: 28px;
}

.nav__title::before{
  content: "";
  border-right: 4px solid #41f6d7;
  height: 40px;
  display: inline-block;
  border-radius: 0 4px 4px 0;
  position: absolute;
  top: 110px;
  left:0;
}




.nav-scroller__list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  white-space: nowrap;
  padding-left: 5%;
  gap:4px;
}

.nav-scroller__list::-webkit-scrollbar {
  width: 0;
}


.nav-scroller__link {
  display: block;
  font-family: "TT Lakes Medium";
  color: #7e7e82;
  padding: 0.5rem 1rem;
  background-color: #f8f8f8;
  border: 2px solid rgba(225, 0, 0, 0);
  border-radius: 6px; 
}


.nav-scroller__list::after {
  width: 20px;
  height: 40px;
  content: "";
  display: block;
  position: absolute;
  top: 170px;
  right:0px;
  background: linear-gradient(
    270deg,
    #f8f8f8 16.84%,
    rgba(248, 248, 248, 0.0001) 100%
  );

}

.description{
  display: flex; 
  justify-content: center;
  flex-direction: column;
  gap: 16px; 
}


.description__text{
  display:flex;
  flex-direction: column;
  padding: 0 5%;
}


.text__full-text{
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-basis: 90px; 
  overflow: hidden;
}

.text__paragraph {
  font-family: "TT Lakes Regular";
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1b1c21;

}



.description__bnt-next{
  font-family: "TT Lakes Medium";
  color: #1B1C21;
  font-size: 16px;
  align-self: flex-start;
  padding-left: 32px;
}

.description__bnt-next::before{
  display: block;
  width: 10px;
  height: 10px;
  content: url("img/arrow.png");
  position:relative;
  right: 25px;
  top: 10px;
  background-size: contain;
}









@media (min-width: 768px){

  ul.nav__item:first-child{
    display: flex;
  }

  li.nav__item:nth-child(n){
    gap: 43px;
  }

  .nav__list li.nav__item a:first-child::before{
    content: "";
    display: block;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    position: absolute;
    left: 100px;
    top: 30px;
    border-radius: 1px;
  }

  .nav__item.nav__item::before{
    right: 153px;
   }

   .description{
     flex-direction: row;
     justify-content: space-between;
     padding: 0 5%;
     gap: 48px;
   }

   .text{
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 45.25%
   }

    .text__full-text{
        display: flex; 
        gap:11px; 
        flex-basis: 135px;
        
    }


  

    .description__image{
        display: flex;
        border-radius: 6px;
        overflow: hidden;

    }
  }

    @media (min-width: 1120px){
      .description__text, .nav-scroller__list{
        padding: 0;
      }

      .nav__item.nav__item::before{
        display: none;
      }
      .nav__list li.nav__item a:first-child::before{
        display: none;
      }


      .container{
        position: relative;
        max-width: 1120px;
        margin: auto;
        padding: 42px 32px 0 32px;
      }


      .header{
        display: flex;
        flex-direction: column;
        gap: 8px;
      }


      ul.nav__item:first-child, li.nav__item:first-child{
        display: none;
      }

      .nav{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
      }

      .nav__list{
        padding:0;
        background-color: transparent;
        border-bottom: 0;
      }

        ul.nav__item:last-child{
          gap: 32px;
        }

        .nav__btn{
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;
        }

        .nav__title{
          padding: 0;
          
        }

        .nav__title::before{
          
          position:absolute;
          top:40px
          
        }
        
        .nav-scroller__list {
            flex-wrap: wrap;
        }

          .nav-scroller__list::after {
            display: none;
          }

        

        .header__menu::before{
            display: none;
        } 

      .nav__text{
            display: inline;
            color: #1B1C21;
            font-family: "TT Lakes Medium" ;
            Font-size: 16px;
            Line-height: 24px;
        }

     

      .description{
        padding: 0;
        height: auto;
      }

      .description__text{
        
        padding-top: 10px;
      }

      .description__image{
        height: 290px
      }
  

       


        
    } 

