.description{
    display: flex; 
    flex-direction: column;
    gap: 16px; 
    @include breakpoint(tablet){
      flex-direction: row;
      justify-content: space-between;
      padding: 0 24px;
      gap: 48px;
    }
    @include breakpoint(desktop){
      padding: 0 32px;
    }

  
    .description__text{
      display:flex;
      flex-direction: column;
      padding: 0 16px;
      gap: 16px;
      @include breakpoint(tablet){
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 45.25%
      }
      @include breakpoint(desktop){
        padding:0;
        padding-top: 10px;
      }
  
      .description__paragraphs{
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex-basis: 90px; 
        overflow: hidden;
        transition: 0.2s;
        
        @include breakpoint(tablet){
          display: flex; 
          gap:11px; 
          flex-basis: 135px;
        }

        &--full-brands--opened{
          flex-basis: 235px;
          transition: 0.2s;
          @include breakpoint(tablet){
            flex-basis: 200px;
          }
        }
  
        .text__paragraph {
          font-family: "TT Lakes Regular";
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 0.2px;
          color: #1b1c21;
        }
      }
    }
    &__readmore-btn{
      align-self: flex-start;
      padding-left: 32px;
      position: relative;
      &:hover{
        opacity: 0.5;
        transition-duration: 0.5;
        }
      &--arrow--down::before, &--arrow--up::before{
        width: 10px;
        height: 10px;
        content: url("../img/arrow.png");
        position: absolute;
        left: 15px;
        top: 4px;
        background-size: contain;
      }

      &--arrow--up::before{
        top: 6px;
        transform: rotate(180deg);
      }
      &-text{
        font-family: "TT Lakes Medium";
        color: #1B1C21;
        font-size: 16px;
      }
  
      
      
    }
    .description__image{
      @include breakpoint(tablet){
      display: flex;
      border-radius: 6px;
      overflow: hidden;
      height: 176px;
      }
      @include breakpoint(desktop){
        height: 290px
      }
    }

  }

