*{
    margin:0;
    padding: 0;
    border: 0;
  }
  
  button{
    background:rgba(0, 0, 0, 0);
    border: rgba(0, 0, 0, 0) ;
    cursor: pointer;
    &:hover{
      opacity: 0.5;
    }

  }
  
  ul{
    list-style: none;
    display: block;
  }
  
  a{
    text-decoration: none;
    color: inherit; 
  }

  .nav-scroller__list::-webkit-scrollbar {
    width: 0;
    height: 0;
  }