.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    padding: 16px 16px 19px 16px;
    border-top: 1px solid #D9FFF5;
    @include breakpoint(tablet){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    @include breakpoint(desktop){
        padding: 32px;
      }

    .footer__link{
        font-family: 'TT Lakes Medium';
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #7E7E82;
        mix-blend-mode: normal;
        opacity: 0.72;
        @include breakpoint(tablet){
            &:first-child{
                text-align: left;
            }
            &:nth-child(2){
                text-align: center;
                @include breakpoint(desktop){
                    text-align: left;
                  }
            }
            &:last-child{
                text-align: right;
            }
        }
    }

    
}