@font-face {
    font-family: "TT Lakes Medium";
    src: local("TT Lakes Medium"), local("TT-Lakes-Medium"),
      url("fonts/TTLakes-Medium.woff") format("woff"),
      url("fonts/TTLakes-Medium.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "TT Lakes Regular";
    src: local("TT Lakes Regular"), local("TT-Lakes-Regular"),
      url("fonts/TTLakes-Regular.woff") format("woff"),
      url("fonts/TTLakes-Regular.ttf") format("truetype");
  }

*{
    padding: 0;
    margin: 0;
    list-style-type: none
}

button{
    background:rgba(0, 0, 0, 0);
    border: rgba(0, 0, 0, 0) ;
    cursor: pointer;
  }

body{
    background-color: #F8F8F8;
}


.section__title{
    font-family: "TT Lakes Regular";
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82;

    padding: 16px 0 16px 0;
    background: linear-gradient(to right, #F8F8F8, #FFFFFF);
    border-top: 1px solid #D9FFF5;
}

.swiper{
    padding-bottom: 36px;
    padding-left: 16px;
}

.swiper::after{
    width: 24px;
    height: 81px;
    content: "";
    display: block;
    position: absolute;
    top: 95px;
    right:0px;
    background: linear-gradient(
      270deg,
      #f8f8f8 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
    z-index: 2;
}

.swiper-wrapper{
    padding-top: 16px;
}

.swiper-slide{
    width: auto;
}

.swiper__link{
    display: flex;
    width: 240px;
    height: 72px;
    box-sizing: border-box;
    justify-content: space-between;
    border: 1px solid rgba(234, 234, 234, 1);
    border-radius: 6px;
    padding: 16px;
    align-items: center;
    background-color:#FFFFFF;
}

.swiper__link:hover{
    cursor: pointer;
    box-shadow: 5px 5px 5px 0px grey;
}

.swiper__icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #FF3E79;
    background-image: url(img/pink_arrow.png);
    background-repeat: no-repeat;
    background-position: center;
}

.swiper-pagination-bullet{
    background-color: rgba(221, 221, 221, 1);
    opacity: 1;
    width: 12px;
    height: 12px;
}

.swiper-pagination-bullet-active{
    background-color:  rgba(181, 182, 188, 1);
}

.readmore-btn{
    display: none;
}

@media (min-width: 768px) {

    .swiper{
        box-sizing: border-box;
        padding-left: 24px;
        
    }

    .swiper::after{
        display: none;
    }

    .swiper-wrapper{
        flex-wrap: wrap;
        gap: 24px;
        align-content: flex-start;
        height: 190px;
        box-sizing: border-box;
        overflow-y: hidden;
        transition:  0.2s
    }

    .swiper-wrapper_opened{
        height: 365px;
        transition:  0.2s
    }

    .swiper-slide{
        height: auto;
    }

    .swiper__link{
        width: 224px;
        margin-bottom: -8px;
    }

    .swiper-pagination{
        display: none;
    }

    .readmore-btn{
        display: block;
        padding-left: 57px;
        position: relative;
        margin-top: 30px;
    }

    .readmore-btn:hover{
        opacity: 0.5;
        transition-duration: 0.5;
    }

      
    .readmore-btn_arrow_down::before, .readmore-btn_arrow_up::before{
        width: 10px;
        height: 10px;
        content: url("img/arrowDown.png");
        position: absolute;
        left: 32px;
        top: 4px;
        background-size: contain;
    }

    .readmore-btn_arrow_up::before{
        top: 7px;
        transform: rotate(180deg);
    }

    .readmore-btn__text{
        font-family: "TT Lakes Medium";
        color: #1B1C21;
        font-size: 16px;
    }
}


@media (min-width: 1120px) {

    .wrapper{
        width: 1120px;
        margin: 0 auto;
    }

    .swiper{
        padding: 0 0 0 32px;
    }

    .swiper-wrapper{
        gap: 32px;

    }

    .swiper-wrapper_opened{
        height: 300px;
    }

    .swiper__link{
        width: 240px;
    }  
}



    
        
    

